name: Auto Merge Dev to Main

on:
  pull_request:
    branches:
      - main
  check_suite:
      types:
        - completed
  status: 

permissions:
      contents: write
      pull-requests: write

jobs:
  automerge:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Auto merge if CI passes
        uses: pascalgn/automerge-action@v0.16.2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          MERGE_METHOD: merge
          LOG: info
          MERGE_RETRIES: "3"
          MERGE_RETRY_SLEEP: "10000"